

<div style="padding: 15% 13%;">
    <div class="container">
        <h5 style="text-align:center">Login with Social Media or Manually</h5>
        <div class="vl">
        </div>
        <form >
          <div class="row">
            <div class="col">
              <button (click)="loginWithFacebook()" class="fb btn">
                <i class="fa fa-facebook fa-fw"></i> Login with Facebook
              </button>
              <button  (click)="loginWithGoogle()" class="google btn ">
                    <img width="20px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/> Login with Google
              </button>
            </div>
      
            <div class="col">
              <div class="hide-md-lg">
                <p>Or sign in manually:</p>
              </div>
              <input type="text" name="username" placeholder="Username" required>
              <input type="password" name="password" placeholder="Password" required>
              <input type="submit" value="Login">
            </div>
      
          </div>
        </form>
      </div>
      <div class="bottom-container">
          <div class="row">
            <div class="col">
              <a href="#" style="color:white" class="btn">Sign up</a>
            </div>
            <hr>
            <div class="line"></div>
            <div class="col">
              <a href="#" style="color:white" class="btn">Forgot password?</a>
            </div>
          </div>
        </div>
</div>
    
          
          


          
        